<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => 'form-horizontal' }) do |f| %>
  <%= devise_error_messages! %>

  <div class="form-group">
    <%= f.label :name, class: 'control-label'  %>
    <div class="controls">
      <%= f.text_field :name, :autofocus => true %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :email, class: 'control-label'  %>
    <div class="controls">
      <%= f.email_field :email %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="form-group">
      <p>Waiting confirmation for:</p>
      <div class="controls">
        <%= resource.unconfirmed_email %>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :password, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password %>
      <i>(leave blank if you don't want to change it)</i>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :current_password, class: 'control-label'  %>
    <div class="controls"> 
      <%= f.password_field :current_password %>
      <i>(we need your current password to confirm your changes)</i>
    </div>
  </div> 
  <div class="form-group">
    <%= image_tag(current_user.avatar.small.url) if current_user.avatar? %>
    <%= f.label :avatar, class: 'control-label' %>
    <div class="controls">
     <%= f.file_field :avatar %>
    </div>
  </div>     
  <div class="form-group">
    <%= f.label :email_favorites %>
    <%= f.check_box :email_favorites %>
    <p class="help-block">Be notified for new comments on your favorites</p>
  </div>
  <div class="form-group">
      <%= f.submit "Update", class: 'btn btn-success' %>
    </div> 
<% end %>

<h3>Cancel my account</h3>
<div class="horizontal-form">
  <div class="form-group">
    <div class="controls">
      <p>
        <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn btn-danger btn-small' %>
      </p>
    </div>
  </div>
</div>