

<h1><%= @topics.name %></h1>

<% if policy(@topics).update? %>
  <%= link_to "Edit Topic", edit_topic_path, class: 'btn btn-success' %>
  <% end %>

  <div class="row">
    <div class="col-md-8">
      <p class="lead"><%= @topics.description %></p>
      <% @posts.each do |posts| %>
       <div class="media">
        <div class="media-body">
          <h4 class="media-heading">
            <%= link_to post.title, [@topics, @posts] %>
          </h4>
          <small>
            <%= image_tag(post.user.avatar.tiny.url) if post.uder.avatar? %> submitted <%= time_ago_in_words(post.created_at ) %> ago 
            <%= post.user %> <br/>
            <%= post.comments.count %> Comments
          </small>
        </div>
       </div>
       <% end %>
     </div>
      <%= will_paginate @posts %>
      <div class="col-md-4">
       <% if policy(@posts).update %>
        <%= link_to "New Post", new_topics_post_path(@topics), class: 'btn btn-success' %>
        <% end %>
      </div>
    </div>
      