<h1><%= @post.title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>
    <p><%= markdown @posts.body %></p>
  </div>
  <%= image_tag(posts.image.thumb.url) %>
  <div class="col-md-4">
    <% if policy(@post).update? %>
     <%= link_to "Edit", new_post_path(@post), class: 'btn btn-success' %>

     <p><%= @post.body %></p>

     <% end %>
   </div>
 </div>


