<h1><%= @posts.title %></h1>

<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@posts.user.avatar.tiny.url) if @posts.user.avatar? %>
      submitted <%= time_ago_in_words(@posts.created_at) %> ago by <%= @posts.user.name %>
    </small>
    <p><%= markdown @posts.body %></p>
  </div>
  <%= image_tag(posts.image.thumb.url) %>
  <div class="col-md-4">
    <% if policy(@posts) :update, %>
     <%= link_to "Edit", edit_post_path(@posts), class: 'btn btn-success' %>

     <p><%= @posts.body %></p>
     <% end %>
   </div>
 </div>
