<h1><%= markdown @posts.title %></h1>

<div class="row">
  <div class="span8">
    <small>
      <%= image_tag(@posts.user.avatar.tiny.url) if @posts.user.avatar? %>
      submitted <%= time_ago_in_words(@posts.created_at) %> ago by <%= @posts.user.name %>
    </small>
    <p><%= markdown @posts.body %></p>
  </div>
  <%= image_tag(posts.image.thumb.url) %>
  <div class="span4">
    <% if can? :edit, @posts %>
     <%= link_to "Edit", edit_topic_post+path(@topics,@posts), class: 'btn btn-large btn-block' %>
     <% end %>
   </div>
 </div>
